# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/Flutter/pod_install_log.sh

# Android
.gradle/
/android/key.properties
/android/local.properties
/android/app/src/main/assets/flutter_assets/
android/gradle/
android/gradlew
android/gradlew.bat

# Cocoapods
/ios/Pods/
/ios/Podfile.lock
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

# Build
/build/

# Generated code
*.g.dart
*.freezed.dart

# VS Code
.vscode/
