# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
/build/

# IDE specific
.idea/
.vscode/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Dart
.dart_tool/

# Android
/android/app/build
/android/.gradle
/android/build
/android/app/src/main/assets/flutter_assets

# iOS
/ios/Pods/
/ios/Flutter/App.framework

# Web
/web/build
